/**
 * menu.scss
 * Styles applied to dashboard menu items added via RestaurantPress.
 * Adds icons to top level menu items, tinyMCE shortcode button, etc.
 */

/**
 * Imports
 */
@import 'mixins';
@import 'variables';
@import 'fonts';

/**
 * Styling begins
 */
#adminmenu #toplevel_page_restaurantpress .menu-icon-generic div.wp-menu-image:before {
	font-family: 'RestaurantPress' !important;
	content: '\e001';
}

#adminmenu #menu-posts-food_menu .menu-icon-post div.wp-menu-image:before,
#adminmenu #menu-posts-food_menu .menu-icon-food_menu div.wp-menu-image:before {
	font-family: 'RestaurantPress' !important;
	content: '\e002';
}

span.mce_restaurantpress_shortcodes_button {
	background-image: none !important;
	@include ir();

	&::before {
		@include icon( '\e002' );
		font-size: .9em;
		line-height: 1.2;
	}
}

i.mce-i-restaurantpress-shortcodes {
	position: relative;

	&::before {
		@include icon( '\e002' );
		line-height: inherit;
	}
}

.rp_plugin_upgrade_notice {
	font-weight: normal;
	color: #fff;
	background: #d54d21;
	padding: 1em;
	margin: 9px 0;

	&::before {
		content: '\f348';
		display: inline-block;
		font: 400 18px/1 dashicons;
		speak: none;
		margin: 0 8px 0 -2px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		vertical-align: top;
	}
}

/**
 * License.
 */
.restaurantpress-license-updater td,
.restaurantpress-license-updater th {
	box-shadow: none !important;
}

#restaurantpress_license_row {

	.rp-license-key-row {
		border: 0;
		font-size: 13px;
		font-weight: 400;
		margin: 6px 12px 12px;
		padding: 6px 12px;
		background-color: rgba(0, 0, 0, 0.03);
		line-height: 27px;

		input {
			margin: 0 4px;
			vertical-align: middle;
		}

		&::before {
			content: '\f160';
			display: inline-block;
			font: 400 20px/27px dashicons;
			speak: none;
			margin: 0 8px 0 -2px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			vertical-align: middle;
		}
	}

	.rp-license-key-row-tr td {
		padding: 0 !important;
		border-left: 4px solid #2ea2cc !important;
	}
}
